{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ playlist.Name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Playlist info:</h2>

    <table>
        <tr>
            <th><b>Id</b></th>
            <th><b>Name</b></th>
            <th><b>Creator</b></th>
            <th><b>CreationDate</b></th>
        </tr>
        <tr>
            <td>{{ playlist.PId }}</td>
            <td>{{ playlist.Name }}</td>
            <td><a href="/users/{{ user.ULogin }}">{{ user.Name }}</a></td>
            <td>{{ playlist.CreationDate }}</td>
        </tr>
    </table>

    {% if songs %}
        <p>
            <h3>Tracklist</h3>
            <ul>
                {% for s in songs %}
                    <li><a href="/songs/{{ s.SId }}"> {{ s.Name }}</a></li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}

    {% if users %}
    <p>
        <h3>Liked by Users</h3>
        <ul>
            {% for u in users %}
                <li><a href="/users/{{ u.ULogin }}">{{ u.Name }}</a></li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}

{% endblock %}
